.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
}

.info-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 380px 150px
}

.form-box {
    width: 600px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: black;
    border-radius: 2%;
    color: black;
    margin-right: 25px;
}

.header-form {
    margin-bottom: 15px;
}