.form-box {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: black;
    border-radius: 2%;
    color: black;
}

@media screen and (min-width: 1080px) {
    .form-box {
        width: 400px;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: black;
        border-radius: 2%;
        color: black;
    }
}