.content-container {
    min-height: 440px;
    padding: 10px;
    align-items: center;
    border-radius: 16px;
    background-color: #02044a;
}

@media screen and (min-width: 768px) {
    .content-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        min-height: 440px;
        width: 960px;
        padding: 60px;
        align-items: center;
        border-radius: 16px;
        background-color: #02044a;
    }
}