.info-box {
  margin: 0 0 40px 0
}

@media screen and (min-width: 768px) {
  .info-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 270px 0
  }
}